rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.plan == "free";
      allow update: if false;
      allow delete: if false;

      match /websites/{websiteId} {
        allow read, write: if false;

        match /snapshots/{snapshotId} {
          allow read, write: if false;
        }
      }
    }

    match /websites/{websiteId} {
      allow read, create, update, delete: if false;

      match /snapshots/{snapshotId} {
        allow read, write: if false;
      }
    }
  }
}
